<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma</title>
    <!-- <script src="skripta.js" defer></script> -->
</head>

<body>
    <form action="/izmeni?id_gosta={{gost.id}}" method="post" onsubmit="return validacija()">
      
        <div>
            <label for="ime">Ime: </label>
            <input type="text" name="ime" id="ime" value="{{gost.ime}}" required>
        </div>
        <div>
            <label for="prezime">Prezime: </label>
            <input type="text" name="prezime" id="prezime" value="{{gost.prezime}}" required>
        </div>
        <div>
            <label for="ocena">Email: </label>
            <input type="email" name="email" id="email"  value="{{gost.email}}" required>
        </div>
        <div>
            <label for="ocena">Telefon: </label>
            <input type="number" name="telefon" id="telefon"  value="{{gost.telefon}}" required>
        </div>
        <div>
            <button type="submit">Izmeni</button>
        </div>
    </form>
</body>

</html>